<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0            https://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd  http://camel.apache.org/schema/blueprint         http://camel.apache.org/schema/blueprint/camel-blueprint.xsd          http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0         http://aries.apache.org/schemas/blueprint-cm/blueprint-cm-1.1.0.xsd">
    
    <!-- Routes beans  -->
    
    <bean class="com.estafet.fuse.routes.IbanSingleReportServiceRoute" id="bankServiceRoute"/>
    <bean class="com.estafet.fuse.routes.SecondTaskReportServiceRoute" id="secondTaskRoute"/>
    <bean class="com.estafet.fuse.routes.CronTaskRoute" id="chronTaskRoute"/>
    
    <!--  DAO -->
	<bean class="com.estafet.fuse.dao.IbanSingleReportService" id="ibanSingleReportDaoBean"/>
    <bean class="com.estafet.fuse.processors.FakeDataProcessor" id="fakeDataProcessor">
        <property name="accountEnricherService " ref="accountService"/>
    </bean>
    
    <!-- Processor -->
    <bean
        class="com.estafet.fuse.processors.IbanSingleEntityReportProcessor" id="ibanReportProcessor"/>
    <bean class="com.estafet.fuse.processors.IbanEntityProcessor" id="ibanEntityProcessor"/>
    
    <!-- Aggregation strategies -->
    <bean
        class="com.estafet.fuse.processors.strategy.IbanEntityAggregation" id="ibanEntityAggregation"/>
    <bean
        class="com.estafet.fuse.processors.strategy.ReportIbanEntityAggregation" id="reportIbanEntityAggregation"/>
</blueprint>
